<!DOCTYPE html>
<html lang="en"> <!-- main language in your web -->
<head>
	<meta charset="UTF-8"> 
	<!-- web use for read thai english or other language, 
	if we don't write it, your web will have only alien language -->
	<title>CMM 19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!-- download css framework from bluma its good for mobile first because it haven't java script -->

<!--	<style type="text/css">
		.navbar-item{

		}
	</style> -->

	<link rel="stylesheet" href="/assets/home.css"> <!-- call file home to align to center-->

</head>

<body>
	<header> 
		<div class="has-text-centered">
			<img src="/assets/images/chotima1-03.png" alt="" width="200" height="auto"> <!-- call picture-->
		</div>
		<!-- <h1 class="has-text-centered">สวัสดีจ้า</h1> -->
		
		<nav class="navbar-tabs"> <!-- google like a well divition code <nav> ,but you can write <div> ..... navigation -->
			<a href="#" class="navbar-item">Home</a> <!-- # กดแล้วมันจะอยู่ที่เดิม-->
			<a href="#" class="navbar-item">Profile</a> 
			<a href="#" class="navbar-item">My Photos</a>
			<a href="#" class="navbar-item">work</a> 
			<a href="#" class="navbar-item">Contact</a> 
		</nav>
		
	</header>


	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item has-text-centered ">
						<h1>Hello! Chotima</h1>
						<!-- <img src="/assets/images/home/banner/highlight.jpg" alt="" width="100%" height="auto"> -->
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns is-marginless">

					<div class="column thumbnail-item is-paddingless has-text-centered"
						style="background-image: url(/assets/images/home/myflower/th1.jpg);" >
						lorem ipsum
						
					</div>

					<div class="column thumbnail-item is-paddingless has-text-centered"
						style="background-image: url(/assets/images/home/myflower/th2.jpg);">
						lorem ipsum
					
					</div>

					<div class="column thumbnail-item is-paddingless has-text-centered"
						style="background-image: url(/assets/images/home/myflower/th3.jpg);">
						lorem ipsum
					
					</div>

					<div class="column thumbnail-item is-paddingless has-text-centered"
						style="background-image: url(/assets/images/home/myflower/th4.jpg);">
						lorem ipsum
					
					</div>

					<div class="column thumbnail-item is-paddingless has-text-centered"
						style="background-image: url(/assets/images/home/myflower/th5.jpg);">
						lorem ipsum
		
					</div>

				</div>
			</div>

		</section>

		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			</div>

			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

				<a href="#" class="column is-one-third">
					<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
                   		</figure> 
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">lorem ipsumlorem ipsum</h3>
						<h4 class="subtitle is-6">lorem ipsumlorem ipsum</h4>
						<p>
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
							lorem ipsumlorem ipsumlorem ipsumlorem ipsum
						</p>
						
					</div>
					</div>
				</a>

			</div>

		</section>



	</main>
</body>
</html>