<header> 
		<div class="has-text-centered">
			<img src="/assets/images/chotima1-03.png" alt="" width="200" height="auto"> <!-- call picture-->
		</div>
		<!-- <h1 class="has-text-centered">สวัสดีจ้า</h1> -->
		
		<nav class="navbar-tabs"> <!-- google like a well divition code <nav> ,but you can write <div> ..... navigation -->
			<a href="#" class="navbar-item">Home</a> <!-- # กดแล้วมันจะอยู่ที่เดิม-->
			<a href="#" class="navbar-item">My Profile</a> 
			<a href="#" class="navbar-item">My Photos</a>
			<a href="#" class="navbar-item">Products</a> 
			<a href="#" class="navbar-item">Contact</a> 
		</nav>
		
	</header>